@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, sans-serif;
}

/* banner section start header */
.banner-container {
    max-width: 1320px;
    height: 600px;
    background-image: url("../assets/images/Banner-Image.png");
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: overlay;
    margin: 0 auto; /*to align the image center*/
    margin-top: 50px;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.banner-content p{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 16px;
    
}

.banner-content h1 {
    color: #fff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

/* 60% off section style */
.percentage-container {
    display: flex;
    width: 803px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.percentage .title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
}

.percentage .sub-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.percentage .categories {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
}

.image-container {
    width: 803px;
    height: 500px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

/* midnight party css */
.midnight-party {
    max-width: 1320px;
    height: 600px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),  url("../assets/images/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    display: flex;
    margin: 0 auto;
    background-blend-mode: overlay;
    background-size: cover;
    padding: 126px 145px 158px 145px;
    justify-content: space-between;
}

.leftside-content  {
    width: 642px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftside-content .midnight-title {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;

}

.leftside-content .midnight-desc {
    color: #FFFFFFCC;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.leftside-content .midnight-btn {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.midnight-btn {
    color: #fff;
    margin-top: 48px;
    margin-left: -470px;

}

.midnight-btn a {
    text-decoration: none;
    color: #fff;
}


.image-right {
    width: 350px;
    margin-bottom: 68px;
}

/* new hotel park css */
.new-hotel-park {
    width: 1320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin: 120px auto;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}

.new-hotel-park .title p{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
}

.new-hotel-park .join {
    text-align: center;
    width: 167px;
}

.title .text-primary {
    color: #FF0000;
}

.join {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 32px 16px 32px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    padding: 20px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 48px;
    cursor: pointer;
    
}

/* coming soon css */
.coming-soon-container {
    width: 1320px;
    height: 463px;
    display: flex;
    margin: 0 auto;
}

.coming-soon-container .best-offer {
   width: 393px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-right: 70px;
}

.best-offer .title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #FF0000;
}

.best-offer .coming {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    color: #070211;
    margin-top: 16px;
}

.best-offer .offer-desc {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #07021199;
    margin-top: 22px;
}

.center-image {
    box-sizing: border-box;
    border-radius: 50%;
    width: 490px;
    height: 430px;
    border: 15px solid rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-right {
    width: 394px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 122px;
}

.img-right img{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
}

.img-right .title {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    color: #FF0000;
}

.img-right .img-desc {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #07021199;
}

/* holiday sale css */
