@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, sans-serif;
}

/* banner section start header */
.banner-container {
    max-width: 1320px;
    height: 600px;
    background-image: url("../assets/images/Banner\ Image.png");
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: overlay;
    margin: 0 auto; /*to align the image center*/
    margin-top: 50px;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.banner-content p{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 16px;
    
}

.banner-content h1 {
    color: #fff;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

/* 60% off section style */
.percentage-container {
    display: flex;
    width: 803px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;

}